*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-size: 1.8rem;
    overflow-x: hidden;
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;
    color: #959597;
    font-weight: 600;
}

nav {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    padding: .5em 1em;
}

nav img {
    height: 35px;
}

nav p {
    font-size: 2rem;
    font-weight: bold;
}

.day {
    font-weight: 500;
    text-align: center;
    font-size: 1.3rem;
    /* margin-bottom: 0.5em; */
}

.main-img {
    display: block;
    width: 96%;
    margin: 0 auto;
    /* object-fit: cover;  */
}

nav p {
    color: #e04765;
}

.id-span {
 color: #172c4b;
}

.day-two {
    text-align: center;
    font-size: 1.3rem;
    font-weight: 500;
    color: #000000;
    margin: 0.5em 0;
}

.down-img {
    display: block;
    margin: 0 auto;
    height: 15px;
    /* text-align: center; */
}

.id-text {
    padding: 0 1em;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 1.5rem;
    letter-spacing: -1px;
    margin: 1em 0;
}

.tile:first-of-type {
    border-radius: 8px 8px 0 0;
}

.tile {
    padding: .5em 1em;
    margin: 0 auto;
    width: 95%;
    background-color: #f7f7f7;
    border-bottom: 1px solid #c9c9c9;
}

.black-text {
    color: #000000;
    text-transform: uppercase;
    font-size: 1.7rem;
}

.title-text {
    font-weight: 500;
    margin-top: 0.2em;
    font-size: 1.5rem;

}

.nav-bot {
    width: 100%;
    background-color: #fff;
    bottom: 0;
    z-index: 10;
    position: fixed;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.nav-tile {
    /* padding: .5em 4rem; */
    padding: .5em 0 1em 0;
    flex: 1;
}

.nav-bot img {
    height: 17px;
}

.nav-bot p {
    font-size: 1.6rem;
    font-weight: 500;
    color: #999999;
}

.invisible-block {
    display: block;
    height: 65px;
}

.main-sec-img {
    display: block;
    width: 99%;
    margin: .5em auto;

}

.id-textt {
    padding: 0 1em;
    font-weight: 500;

    font-size: 1.5rem;
    letter-spacing: -1px;
    margin: 1em 0;
}